/* Desktop */
.calendar-layout {
  display: grid;
  grid-template-columns: minmax(0, 220px) 1fr minmax(0, 220px);
  gap: 10px;
}

/* Tablet */
@media (max-width: 1024px) {
  .calendar-layout {
    grid-template-columns: 1fr;
  }
}

/* Mobile */
@media (max-width: 768px) {
  .calendar-layout {
    grid-template-columns: 1fr;
  }
}
